<div id="love">
  <h1>Let's show some love</h1>

  <h2>Thank's</h2>

  <div class="description">
    <p>We would like to thank a lot of people who wrote a lot of the things we are using.</p>

    <ul id="credits">
      <li>
        <%= link_to "Ruby on Rails", 'http://rubyonrails.org/', :target => "_blank" %> for making web development nicer.
      </li>

      <li>
        <%= link_to "Rally on Rails", 'http://rallyonrails.com', :target => "_blank" %> for giving us the space to do this and keeping ourselves from sleep for 0 nights.
      </li>

      <li>
        <%= link_to "Github", 'https://github.com', :target => "_blank" %> for existing and having an API. Without them, this app wouldn't exist.
      </li>

      <li>
        <%= link_to "Thoughtbot", 'http://thoughtbot.com', :target => "_blank" %> for their open source libraries. <strong>Bourbon</strong> is bananas (B - A - N - A - N - A - S). Btw, I'm still waiting for an answer to <%= link_to "this", 'https://twitter.com/nhocki/status/102132429816471553', :target => "_blank" %>.
      </li>
      
      <li>
        <%= link_to "Michael Henriksen", 'https://github.com/michenriksen', :target => "_blank" %> for creating the awesome <%= link_to "CSS3 buttons", 'https://github.com/michenriksen/css3buttons', :target => "_blank" %> and <%= link_to "Nicholas Bruning", 'https://github.com/thetron', :target => "_blank" %> for turning them into a <%= link_to "gem", 'https://rubygems.org/gems/css3buttons', :target => "_blank" %>.
      </li>

      <li>
        <%= link_to "jQuery", 'http://jquery.com', :target => "_blank" %> we have no words to express our love for you guys.
      </li>

      <li>
        <%= link_to "CoffeeScript", 'http://jashkenas.github.com/coffee-script/', :target => "_blank" %> for making Javscript writable and beautiful.
      </li>

      <li>
        <%= link_to "Jasmine (Pivotal Labs)", 'http://pivotal.github.com/jasmine/', :target => "_blank" %> for being so nice with us and specially with coffeescript.
      </li>

      <li>
        <%= link_to "Funky Town", 'http://rallyonrails.com/teams/47', :target => "_blank" %> because, without us, this wouldn't exist.
      </li>

      <li>
        A LOT MORE (we only have 48Hrs for this. We will update this when we have more time!)
      </li>
    </ul>

    <h3>What's comming soon?</h3>

    <ul>
      <li>Support for github-organizations.</li>
      <li>Send invoices to clients.</li>
      <li>Customizable invoices.</li>
      <li>Time filters.</li>
      <li>Integration with GitHub hooks.</li>
      <li>Generate invoices from an specific branch - currently only master is supported.</li>
      <li>We'll be glad to hear your <%= mail_to "hello@timehub.net",  "suggestions" %>.</li>
    </ul>
    
    <p>
      If you have any problem with our application, please let us know. <%= link_to "Submit a issue ticket.", 'https://github.com/timehub/issues/issues/new', :target => "_blank" %>
    </p>
  </div>
</div>